{
    "presets": [
      "@babel/preset-env",
      ["@babel/preset-react", {
        "shippedProposals": true
      }],
      "@babel/preset-flow"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      ["babel-plugin-root-import", 
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "app"
        }
      ]
    ]
}